@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina+2:400,500,600,700|Nunito+Sans:300,400,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: unset !important;
}

a:hover {
  text-decoration: none !important;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Baloo Bhaina 2", cursive;
}

html {
  font-size: 16px;
}

main {
  min-height: 100vh;
}

main .sidebarMain {
  width: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 70, 199, 0.96)), to(rgba(103, 178, 111, 0.83))), url("../assets/road.jpeg");
  background-image: linear-gradient(to bottom, rgba(77, 70, 199, 0.96), rgba(103, 178, 111, 0.83)), url("../assets/road.jpeg");
  background-size: cover;
}

main .sidebarMain .logo {
  font-size: 30px;
  color: #fff !important;
  display: inline-block;
  margin-left: 11%;
  margin-top: 30px;
  font-weight: 800;
  position: relative;
}

main .sidebarMain .logo:hover {
  text-decoration: unset;
}

main .sidebarMain .logo:after {
  content: "food delivery";
  color: #ffffff;
  font-size: 6px;
  display: block;
  text-align: center;
  position: relative;
  top: -5px;
}

main .sidebarMain .logo img {
  width: 33px;
}

main .sidebarMain ul.nav-list {
  padding: 0 10px 0 11%;
  margin-top: 30px;
}

main .sidebarMain ul.nav-list > li {
  color: #fff;
  font-size: 1.05rem;
  margin: 30px 0;
  list-style: none;
  font-weight: 500;
  cursor: pointer;
}

main .sidebarMain ul.nav-list > li img {
  width: 20px;
  position: relative;
  bottom: 2px;
  margin-right: 9px;
}

main .sidebarMain ul.nav-list > li .fa {
  margin-left: 50%;
  font-size: 15px;
}

main .sidebarMain ul.nav-list [data-toggle="collapse"] .fa:before {
  content: "\f078";
}

main .sidebarMain ul.nav-list [data-toggle="collapse"].collapsed .fa:before {
  content: "\f054";
}

main .sidebarMain ul.nav-list .nav-list-child li {
  color: #fff;
  font-size: 1rem;
  margin: 30px 0;
  list-style: none;
  font-weight: 500;
  margin-left: 32px;
}

main .sidebarMain ul.nav-list .nav-list-child .active {
  background-color: #ffffff54;
  padding: 11px 0;
  position: relative;
  left: -65px;
  width: 300px;
  padding-left: 75px;
  border-right: 6px solid gold;
}

main .main-content {
  width: calc(100% - 300px);
  background: #f8f8f8;
}

main .main-content .main-header h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: #4a4a4a;
}

main .main-content .main-header .notification-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

main .main-content .main-header .notification-icons > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

main .main-content .main-header .notification-icons > div img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

main .main-content .main-header .notification-icons > div .badge {
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: -10px;
}

main .main-content .secondary-header .input-group {
  position: relative;
  max-width: 300px;
}

main .main-content .secondary-header .input-group .form-control {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #dddddd;
  font-size: 16px;
}

main .main-content .secondary-header .input-group i {
  position: absolute;
  right: 15px;
  top: 30%;
  color: #6c757d;
  z-index: 9;
  font-size: 14px;
}

main .main-content .secondary-header .filter-icons > div {
  border: 1px solid #dddddd;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main .main-content .secondary-header .filter-icons > div img {
  width: 50%;
}

main .main-content .secondary-header .filter-icons .btn {
  background: #e9bb26;
  color: white;
  font-size: 0.88rem;
  font-weight: 700;
}

main .main-content .nav-link.active {
  color: #5b5fa3 !important;
  font-weight: bold;
}

main .main-content table {
  border-top: 0px;
}

main .main-content table td,
main .main-content table th {
  border-top: 0px;
}

.sidebar {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar .container-fluid > .d-flex span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a4a4a;
}

.sidebar .container-fluid > .d-flex a {
  font-size: 2rem;
  color: #aaaaaa;
}

.sidebar .container-fluid form label {
  font-size: 13px;
  font-weight: 600;
  color: #565656;
}

.sidebar .container-fluid form select {
  font-size: 15px;
  color: #aaaaaa;
  height: 45px;
}

.sidebar .container-fluid form .form-check-label {
  font-size: 14px;
  color: #565656;
}

.sidebar .container-fluid form .btn {
  background: #e9bb26;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  width: 100%;
  margin-top: 100px;
  padding: 8px 0;
  white-space: nowrap;
}

#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */